[submodule "libsamplerate"]
	path = libsamplerate
	url = https://github.com/erikd/libsamplerate.git
[submodule "JUX"]
	path = JUX
	url = https://github.com/talaviram/JUX.git
[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "klokantech-gl-fonts"]
	path = klokantech-gl-fonts
	url = https://github.com/klokantech/klokantech-gl-fonts.git
